@import "tailwindcss";
/* html {
  font-family: var(--font-helvetica);
}
body {
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
  font-family: var(--font-satoshi);
} */
@layer utilities {
  .text-gradient-primary {
    @apply bg-linear-to-r from-[#D89AFE] to-[#706FE4]
           bg-clip-text text-transparent;
  }
  .btn-gradient {
    @apply bg-linear-to-r from-[#D89AFE] to-[#706FE4]
           hover:from-[#706FE4] hover:to-[#D89AFE]
           transition-all duration-300;
  }
}
